/*font*/
@font-face {
	font-family: "Poppins-Regular";
	src: url('../font/poppins/Poppins-Regular.ttf');
}

@font-face {
	font-family: "Neue-Bold";
	src: url('../font/neue/NeueHaasGroteskDisplay-Bold.otf');
}

@font-face {
	font-family: "Neue-Medium";
	src: url('../font/neue/NeueHaasGroteskDisplay-Medium.otf');
}

html *{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body{
	
	/*background: #F3ECE6;*/
	background: url(../img/component/Noise_BG.png);
	-webkit-animation: noiseAnimate .5s steps(10) infinite;
	        animation: noiseAnimate .5s steps(10) infinite;
	position: relative;
}

@-webkit-keyframes noiseAnimate{
	0%{
		background-position: 0 0;
	}
	100%{
		background-position: 100% 100%;
	}
}


/*scroll bar css*/

::-webkit-scrollbar {
 display: none;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
   display: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 display: none;
}

.loader{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 999;
	background: #9A0404;
}

.loader img{
	width: 15%;
}
/*FONT ASSET*/
.h1{
	font-family: Neue-Bold;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	line-height: 90%;
	/* or 81px */
	letter-spacing: -0.2px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.h4{
	font-family: Neue-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    text-transform: uppercase;
    color: #FFFFFF;

}

.h5{
	font-family: Neue-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    text-transform: uppercase;
    color: #FFFFFF;
}



.h6{
	font-family: Neue-Bold;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 140%;
	/* or 34px */

	text-transform: uppercase;

	color: #FFFFFF;
}

.img-title{
	    font-family: Neue-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 110%;
    text-align: center;
    color: #FFFFFF;
}

.paragraphe{
    font-family: Neue-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
    color: #FFFFFF;
}

.paragraphe-2{
	font-family: Neue-medium;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    text-transform: capitalize;
    text-decoration: none;
    color: #FFFFFF;
}

.paragraphe-2 a:hover{
	text-decoration: underline;
}

.cta{
	font-family: Neue-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    text-decoration: none;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    color: #FFFFFF;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
}

.cta:hover img{
	-webkit-animation: crossAnime 2s infinite ease;
	        animation: crossAnime 2s infinite ease;

}

@-webkit-keyframes crossAnime{
	0%{
		-webkit-transform: translateX(0px);
		        transform: translateX(0px);
	}
	50%{
		-webkit-transform: translateX(10px);
		        transform: translateX(10px);
	}
	100%{
		-webkit-transform: translateX(0px);
		        transform: translateX(0px);
	}
}

@keyframes crossAnime{
	0%{
		-webkit-transform: translateX(0px);
		        transform: translateX(0px);
	}
	50%{
		-webkit-transform: translateX(10px);
		        transform: translateX(10px);
	}
	100%{
		-webkit-transform: translateX(0px);
		        transform: translateX(0px);
	}
}

/*LINE SECTION*/

.full-line{
	width: 100%;
	border-bottom: solid white 1px;
	margin: 50px 0px 50px 0px;
}

.little-line{
	width: 40px;
	height: 2.5px;
	background-color: white;
}

/*button*/
.button-classic{
	font-family: Neue-Bold;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 140%;
	/* identical to box height, or 24px */
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	background: white;
	color: #151515;
	/*padding: 15px 50px 15px 50px;*/
	width: 145px;
    height: 45px;
	border: none;
	border-radius: 50px;
	text-decoration: none;
	-webkit-transition: 0.4s ease;
	-o-transition: 0.4s ease;
	transition: 0.4s ease;
	cursor: pointer;
	border: solid white 2px;
}

.button-classic:hover{
	-webkit-transition: 0.4s ease;
	-o-transition: 0.4s ease;
	transition: 0.4s ease;
	color: white;
	border: solid white 2px;
	background: transparent;

}

/*////////////////////////////////*/
.landing-section{
	margin: 0px 65px 0px 65px;
}

/*header*/
.nav-open-mobile{
	display: none;
}

.header-section-mobile{
	display: none;
}

.header-section{
	margin: 40px 65px 0px 65px;
	position: absolute;
	z-index: 99;
	width: 91.5%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

.nav-burger{
	width: 30%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

.nav-burger img{
	cursor: pointer;
}

.burger-menu{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.nav-open{
	display: none;
}

.nav-open-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

.nav-open-content div{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}



.nav-open-content div a{
	font-family: Poppins-Regular;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 85%;
	margin-bottom: 25px;
	text-decoration: none;
	color: #FFFFFF;
}

.nav-open-content img{
	margin-bottom: 25px;
	cursor: pointer;
}

.social-header{
	width: 30%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.social-header a{
	margin: 0px 8px 0px 8px;
	color: white;
	text-decoration: none;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
	transition: 0.3s ease;
}


.social-header a:hover{
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
	color: black;
}

.social-header a i{
	font-size: 19px;
}

.langue-header{
	width: 30%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;-webkit-box-pack: end;-ms-flex-pack: end;justify-content: flex-end;
}

.langue-header a:hover{
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
	color: black;
}

.langue-header a:first-child{
	color: #A5A5A5;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}


.langue-header a{
	margin: 0px 15px 0px 0px;
	color: white;
	text-decoration: none;
	font-family: Poppins-Regular;
	font-size: 17px;
	text-transform: uppercase;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}

/*Hero section ////////////////////////////// hero section*/
.hero-section{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100vh;
	background: url('../img/img-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	position: relative;
}

.hero-section img:nth-child(1){
	width: 25%;
}

.hero-section div{
	position: absolute;
	text-align: center;
	bottom: 20px;
	width: 100%;
	margin: auto;
}

.hero-section div img:last-child{
	width: 2%;
}


/*upcoming event//////////////////////////////////////////////*/
.upcoming-section{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 100%;
	margin-bottom: 50px;
}

.upcoming-section section div:nth-child(1){
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 25px;
}
.upcoming-section section p{
	margin-right: 40px;
}

.upcoming-section section article{
 	width: 45%;
 	margin-bottom: 25px;
}

.btn-upcoming{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.btn-upcoming a{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.btn-upcoming img{
	margin-left: 25px;
	width: 4%;
}

#paragraphe-upcoming2{
	display: none;
}

#paragraphe-upcoming3{
	display: none;
}

/*video ///////////////////////////////////////////////video*/
.video-section{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	  -ms-flex-pack: justify;
	  justify-content: space-between;
}

.full-video{
	width: 60%;
}

.full-video-content{
	height: 65vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.full-video-content video{
	overflow: hidden;
	min-width: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	min-height: 100%;
}

.info-video{
	width: 40%;
	height: 65vh;
	padding: 0px 0px 0px 100px;
}

.info-video-content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 100%;
	height: 100%;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.info-video-content a:hover{
	-webkit-transition: 0.8s ease;
	-o-transition: 0.8s ease;
	transition: 0.8s ease;
}

#line-pigalle{
	margin-bottom: 25px;
}
/*cover ///////////////////////////////////////////////cover*/

.cover-section{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 50px;
}

.info-cover{
	width: 10%;
}

.cover-content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.cover-content article{
	margin: 0px 10px 0px 10px;
}
.img-cover{
	width: 220px;
	height: 220px;
	margin-bottom: 25px;
}

.img-cover img{
	-o-object-fit: cover;
	   object-fit: cover;
	min-width: 100%;
	min-height: 100%;
}

.cover-content article p{
	margin-bottom: 25px;
}

/*je taime ////////////////////////////////////////////je taime*/

.love-section{
	margin-bottom: 50px;
	width: 100%;
}

.love-content{
	position: relative;
}

.love-content article p{
	text-transform: lowercase;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	height: 100%;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

}

.love-parallax{
	width: 100%;
	height: 55vh;
	background-image: url('../img/loveparty/jtm-min.png');
	background-size: cover;
}

/*audit /////////////////////////////////////audit*/
.audit-section{
	
}


/*red is yours /////////////////////////////////////red is yours*/

.red-section{
	width: 100%;
	margin-bottom: 50px;
}

.red-section section{
	position: relative;
}

.red-section section article{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
}

.red-section article a{
	margin-bottom: 25px;
}

.red-parallax{
	width: 100%;
	height: 70vh;
	background-image: url('../img/red/redisyours.png');
	background-size: cover;
}

/*friends /////////////////////////////////////friends*/

.friends-section{
	width: 100%;
	margin-bottom: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	 overflow: hidden;
}

.friends-title{
	width: 45%;
}

.friends-title p{
	margin-bottom: 25px;
}

.friends-title div{
	    height: 80%;
    width: 100%;
    overflow: hidden;
}

.friends-title div img {
	    -o-object-fit: cover;
	       object-fit: cover;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    margin: 0px;
}

.friends-content{
	border-left: solid white 1px;
	width: 50%;
	padding: 0px 0px 0px 5%;
}

.friends-content article{
	margin-bottom: 25px;
}

.friends-content article:last-child{
	margin-bottom: 0px;
}

.friends-content article p:first-child{
	margin-bottom: 20px;
}

.friends-content article p:nth-child(2) a{
	color: white;
}

/*footer /////////////////////////////////////footer*/
.footer-section{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 55vh;
	position: relative;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;

	background: -o-linear-gradient(top, rgba(21, 21, 21, 0) 0%, #6C0000 84.9%);

	background: -webkit-gradient(linear, left top, left bottom, from(rgba(21, 21, 21, 0)), color-stop(84.9%, #6C0000));

	background: linear-gradient(180deg, rgba(21, 21, 21, 0) 0%, #6C0000 84.9%);
}

.footer-content{
	width: 92.5%;
	margin: 0px 65px 0px 65px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}


.info-footer{
	width: 30%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}



.info-footer p {
	font-family: Poppins-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 150%;
	/* identical to box height, or 88% */
	color: #FFFFFF;
	text-transform: capitalize;
	margin-bottom: 5px;
}
.info-footer a {
	font-family: Poppins-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	/* identical to box height, or 88% */
	color: #FFFFFF;
	text-transform: capitalize;
	text-decoration: none;
	margin-bottom: 5px;
	line-height: 150%;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}

.info-footer a:hover{
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
	color: black
}

.info-footer a:nth-child(3){
	margin-bottom: 40px;
}

.info-footer div a i{
	font-size: 25px;
	color: white;
	margin-right: 15px;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}

.info-footer div a i:hover{
	color: black;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}


.hours-footer{
	width: 30%;
}

.hours-footer p{
	font-family: Poppins-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 150%;
	/* or 22px */

	color: #FFFFFF;
}

.hours-footer p:first-child{
	margin-bottom: 20px
}

.bio-footer{
	width: 40%;
}

.bio-footer p{
	font-family: Poppins-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 150%;
	/* or 22px */
	color: #FFFFFF;
}

.copyright-footer{
	position: absolute;
	bottom: 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 93.5%;

	font-family: Poppins-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 13px;
	/* identical to box height, or 110% */
	text-align: center;
	color: #FFFFFF;
}


.copyright-footer a{
	text-decoration: none;
	color: white;
	margin: 0px 3px 0px 3px;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}

.copyright-footer a:hover{
	color: black;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}