@media only screen and (min-device-width : 320px) and (max-device-width : 425px) {

/*FONT ASSET*/
.h1{
    font-size: 100px;
}

.h4{
    font-size: 40px;
}

.h5{
    font-size: 40px;
}

.h6{
    font-size: 50px;
}

.img-title{
    font-size: 50px;
    text-transform: uppercase;
}

.paragraphe{
    font-size: 65px;
}

.paragraphe-2{
    font-size: 40px;
    line-height: 155%;
}

.cta{
    font-size: 40px;
}


/*LINE SECTION*/

.full-line{
    margin: 100px 0px 100px 0px;
}

.little-line{
    width: 40px;
    height: 7.5px;
    background-color: white;
}

/*button*/
.button-classic {
    font-family: Neue-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 140%;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    background: white;
    color: #151515;
    /* padding: 15px 50px 15px 50px; */
    width: 300px;
    height: 100px;
    border: none;
    border-radius: 70px;
    text-decoration: none;
  }


/*header //////////////////////////////////// header*/
.header-section{
    display: none;
}

.header-section-mobile{
    position: absolute;
    z-index: 99;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 100%;
}

.nav-mobile-close-mobile{
    padding: 100px 65px 0px 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
}

.burger-menu-mobile{
    width: 30%;
}

.burger-menu-mobile img{
    width: 30%;
}

.langue-header-mobile{
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.langue-header-mobile a{
    font-family: Poppins-Regular;
    font-size: 45px;
    text-transform: uppercase;
    color: white;
    margin: 0px 0px 0px 30px;
}

.nav-open-mobile{
    display: none;
    position: fixed;
    z-index: 99;
    height: 110vh;
    width: 100%;
    background: #151515;
}

.nav-open-content-mobile{
    padding: 90px 70px 100px 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;height: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.nav-open-content-mobile img{
    width: 7%;
    cursor: pointer;
}

.nav-open-content-mobile div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.nav-open-content-mobile div a{
    font-family: Poppins-Regular;
    font-size: 50px;
    margin-bottom: 50px;
    color: white;
}
/*hero ///////////////////////////// hero hole*/

.upcoming-section {
    margin-bottom: 100px;
 }

.hero-section img:nth-child(1) {
    width: 50%;
}

.hero-section div{
    bottom: 250px;
    width: 100%;
}

.hero-section div img:last-child{
    width: 5%;
}

.upcoming-section section div:nth-child(1) {
    margin-bottom: 50px;
}

.upcoming-section section article {
    width: 100%;
    margin-bottom: 60px;
}

.btn-upcoming a:nth-child(2) img{
    width: 20%;
}




/*video content ////////////////////////////////video*/
.video-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.full-video {
    width: 100%;
}

.full-video-content {
    width: 100%;
    height: 45vh;
    margin-bottom: 50px;
 }

 .info-video {
    width: 100%;
    height:0%;
    padding: 0px;
}

.info-video-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.info-video-content div div {
    display: none;
  }

.line-info-video{
    display: none;
  }

  .full-video div:nth-child(2){
    display: none;
  }

  /*cover  ////////////////////////////////cover*/
  .cover-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }
  .info-cover {
    width: 100%;
    margin-bottom: 50px;
}

.cover-content{
        display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.cover-content article{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0px 0px 0px 20px;
}

.img-cover{
    height: 550px;
    width: 550px;
}


 /*jetaime  ////////////////////////////////jetaime*/
.love-section{
    margin-bottom: 100px;
}

 .love-parallax{
    height: 65vh;
 }

 .love-content article p{
    text-transform: uppercase;
    padding: 0px 40px 0px 40px;
 }

  /*red-is yours  ////////////////////////////////red-is yours*/
.red-section{
    margin-bottom: 100px;
}

.red-parallax{
    height: 75vh;
}

 .red-section section article p{
    text-transform: uppercase;
    padding: 0px 40px 0px 40px;
}


/*friends ////////////////////////////////////////// friends */
.friends-content article {
    margin-bottom: 50px;
}

.friends-section{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.friends-title {
    width: 100%;
    margin-bottom: 50px;
}

.friends-title p{
    margin-bottom: 100px;
}

.friends-content {
    border-left: none;
    width: 100%;
    padding: 0;
}
/*footer //////////////////////////////// footer */
.footer-section{
    height: 80vh;
}

.footer-content {
    width: 93.5%;
    margin: 0px 65px 0px 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}


.info-footer{
    width: 100%;
    margin-bottom: 100px;
}


.info-footer p{
    font-size: 35px;
}

.info-footer a{
    font-size: 35px;
}

.info-footer div a i {
    font-size: 50px;
    color: white;
    margin-right: 25px;
}

.hours-footer{
    width: 100%;
    margin-bottom: 100px;
}

.hours-footer p {
    font-size: 35px;
}

.bio-footer{
    width: 100%;
    margin-bottom: 100px;
}

.bio-footer p{
    font-size: 35px;
}

.copyright-footer {
    bottom: 45px;
    font-size: 30px;
}


/*end*/
}